
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font:inherit;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,body{
    height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

:root{

  --clr-white: #E5E5E5;
  --clr-blue: #002D69;
  --clr-gray: #343434;
  --clr-light-blue:#B8E0EF;

  --ff-primary:'Lato', sans-serif;
  --ff-body:var(--ff-primary);
  --ff-heading:var(--ff-primary);

  --fw-semi-bold: 500;
  --fw-bold: 700;
  --fw-bolder: 900;

  --fs-500: 1.125rem;
  --fs-700: 1rem;
  --fs-900: 2.25rem;
}


.header{
  font-family: var(--ff-primary);
  font-weight: var(--fw-bold);
  height: 88px;
  display: flex;
  
}

.container{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.heading{
color:var(--clr-blue);
font-size: var(--fs-900);
line-height: 2.7rem;
letter-spacing: 0px;
text-align: left;

}

.navigation ul{
  display: flex;

}

.navigation ul li{
  margin-right: 63px;

}

.navigation ul li a{
text-decoration: none;
font-size: var(--fs-700);
font-weight: var(--fw-bold);
line-height: 1.1875rem;
text-align: left;
color: #343434;
}



.Hero-image{
height: 100%;
width: 100%;
}




@media (prefers-reduced-motion: reduce) {
    html:focus-within {
     scroll-behavior: auto;
    }
    
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }

